<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/Adminhome.css">
    
</head>
<body>
    <header class="home"  >
        
        <nav>
            <h1>Manoufia <span>University</span></h1>
            <ul>
                <li><a href="/admin-area/<%= id %>/departments"> <i class="fa-solid fa-house fa-bounce"></i> Department </a></li>
                <li><a href="/admin-area/<%= id %>/students"><i class="fa-solid fa-cable-car fa-flip"></i> Student</a></li>
                <li><a href="/admin-area/<%= id %>/courses"><i class="fa-solid fa-receipt fa-fade"></i>Course </a></li> 
                <li><a href="/admin-area/<%= id %>/doctors"><i class="fa-solid fa-receipt fa-fade"></i>Doctor </a></li> 
                
                
            </ul>
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
             
              <label for="checkbox" class="checkbox-label">
                <i class="bx bxs-moon"></i>
                <i class="bx bxs-sun"></i>
                <span class="ball"></span>
              </label>
            
              </div>
              
        </nav>
       
       

    </header> 

    <br>
    <div class="tt6">
        
    </div>
    <br>

    <section class="tt7" id="">

        <div class="os">
            <i class="fa-solid fa-forward-step fa-shake" style="color: #511f1f; height: 50px; padding-right:210px;"></i> 
            <h2 class="h1">Course</h2> 
            <i class="fa-solid fa-backward-step fa-shake" style="color: #511f1f; height: 50px; padding-left:210px;"></i>
        </div><br><br>

     <div class="img">
        <section  class="z9">
                
        
            <div class="b">
                <br><br>
                <div  class="l" ><h1> <span>Delete </span> course </h1></div><br>
                <form id="department-addition" action=" " method="post" >
                    <br>
        

                    <input type="text" placeholder="code" name="code" required><br><br>
                   
                    <div class="login" > <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket fa-shake"></i><input class="nn" type="submit" value="generate"> <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket  fa-rotate-180 "></i></div> 
                </form>
               </div>
        
        </section><br><br><br><br><br><br><br><br><br>
        <section  class="z91">
                
        
            <div class="b">
                <br>
                <div  class="l" ><h1> <span>Assign </span>course </h1></div><br>
                <form id="department-addition" action="" method="post">
                    

                    <input type="text" placeholder="code" name="code" required><br>
                    <input type="text" placeholder="Doctor ID" name="DocId" required><br><br>
                    <div class="login" > <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket fa-shake"></i><input class="nn" type="submit" value="Addition"> <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket  fa-rotate-180 "></i></div> 
                </form>
               </div>
        
        </section>
         
        

         
     </div>

        <section class="e">
                    
            
            <div class="g">
                <br><br>
                <div  class="l" ><h1> <span>Add </span>course</h1></div><br>
                <form id="course-addition" action="" method="post">
                    <input type="text" placeholder="Name" name="name" required ><br><br>
                    <input type="text" placeholder="Code" name="code" required><br><br>
                    <input type="text" placeholder="prereq" name="prereq" ><br><br>
                    <select class="select" name="department" required>
                        <option value="" disabled selected>Select department</option>
                        
                          <option value=""> </option>
                        
                      </select>
                    

                     <!-- <button clacc="nn" onclick="addNewInputs()">Add Two New Inputs in Same Line</button>
                     <br><br>
                    <iframe class="form" id="output-iframe" name="output-iframe" width="50%" height="80"></iframe><br><br> -->
                    <br><br>
                    <div class="login"  >
                        <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket fa-shake"></i>
                         <input class="nn" type="submit" value="Addition"> 
                         <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket  fa-rotate-180 "></i>
                    </div> 
                </form>
               </div>
               
                                
        </section>
        <section  class="at">
                
        
            <div class="b">
                <br><br>
                <div  class="l" ><h1> <span>generate </span> attendance sheets </h1></div><br>
                <form id="department-addition" action="/admin-area/<%= id %>/courses/generate-sheet" method="post" >
                    <br><br>
        

                    <input type="text" placeholder="code" name="code" required><br><br>
                   
                    <div class="login" > <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket fa-shake"></i><input class="nn" type="submit" value="generate"> <i style="color: brown; height: 25px;" class="fa-solid fa-right-from-bracket  fa-rotate-180 "></i></div> 
                </form>
               </div>
        
        </section>

        
    </section > <br><br>
    <script src="/all.min.js"></script>
    <script>
        const checkbox = document. getElementById("checkbox")
        checkbox.addEventListener("change", () => 
       { document.body.classList.toggle("dark")})
      </script>





</body>
</html>