<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/Adminhome.css">
</head>
<body>
  <header class="home"  >
        
    <nav>
        <h1>Menoufia <span>University</span></h1>
        <ul>
            <li><a href="/students/<%= id %>"> <i class="fa-solid fa-house fa-bounce"></i> Home </a></li>
           
            
            
        </ul>
        <div>
            <input type="checkbox" class="checkbox" id="checkbox">
         
          <label for="checkbox" class="checkbox-label">
            <i class="bx bxs-moon"></i>
            <i class="bx bxs-sun"></i>
            <span class="ball"></span>
          </label>
        
          </div>
          
    </nav>
   
   

</header>
<br>
<div class="tt6">
    <%- messages('messages', locals) %>
</div>
<br>
<div class="cc">
    <!-- Form to select courses -->
    <form class="form1" action="" id="courseForm">
      <% validCourses.forEach(course => { %>
        <input type="checkbox" name="course" value="<%= course.code %>">
        <label><%= course.name %></label><br><br>
     <% }); %>
      <input class="nn" type="submit" value="Enroll">
    </form>
  
    <!-- Hidden form to send selected courses to server -->
    <form class="form" action="/students/<%= id %>/enroll" method="POST" id="enrollmentForm">
      <input type="hidden" name="coursesarray" value="" id="selectedCourses">
    </form>
</div>

  <script>
    const courseForm = document.getElementById('courseForm');
    const checkboxes = courseForm.querySelectorAll('input[type="checkbox"]');
    const enrollmentForm = document.getElementById('enrollmentForm');

    courseForm.addEventListener('submit', function(event) {
      event.preventDefault();

      const selected = [];
      checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
          selected.push(checkbox.value);
        }
      });

      const selectedInput = document.getElementById('selectedCourses');
      selectedInput.value = JSON.stringify(selected);

      // Submit the hidden form with the selected values as a JSON string
      enrollmentForm.submit();
    });
  </script>
    <script src="/all.min.js"></script>
 <style>
  .cc{
    width: 90%;
    height: 95vh;

      margin: auto;
      padding-top: 100px;
      margin-bottom: 20px;
      
     
}

  *{
    margin: 0;
    padding: 0;
  }
  body{
   
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cccc{
    height: 20px;
    width: 20px;
    
    

  }

  .form1{
      width: 40%;
      min-height: 300px;
      max-height: 300vh;
      border-radius: 30px;
     background: rgba(0, 0, 0);
      text-align: center;
      font-size: 30px;
      margin: auto;
      padding-top: 30px;
      margin-top: 30px;
      box-shadow: 0 0 0 4px rgb(255, 255, 255),
      0 0 0 8px rgb(51, 59, 175,0.6),
      0 0 0 12px rgb(0, 0, 0);
    }
    .form{
      width: 40%;
      min-height: 0px;
      max-height: 100px;
      border-radius: 8px;
      background: rgba(0, 0, 0);
      text-align: center;
      font-size: 20px;
      margin: auto;
      padding-top: 20px;
      margin-top: 20px;
      box-shadow: 0 0 0 4px rgb(0, 0, 0),
      0 0 0 8px rgb(51, 59, 175,0.6),
      0 0 0 12px rgb(0, 0, 0);
    

    }
    input{
      color:#ff8ba7;

    }
    label{
     color: #FFFFFF;
    }
    .nn{
    
    text-decoration: none;
    background-color:  #22ABDD;
    color: #1f1235;
    
    border-top: 1px solid #000dff;
    border-right: 1px solid #061b56;
    border-bottom: 1px solid #0e1061;
    border-left: 1px solid #1114c6;
    border-radius: 5px;
    width: 20%; 
    text-align: center;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
.nnn{
    
    text-decoration: none;
    background-color: #22ABDD;
    color: #1f1235;
    
    border-top: 1px solid #000dff;
    border-right: 1px solid #061b56;
    border-bottom: 1px solid #0e1061;
    border-left: 1px solid #1114c6;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    height: 80%;
}

</style>
</body>
</html>